* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #140228;
    font-family: Arial, sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #140228; 
    position: relative;
}
.navbar-line {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1); 
    
}
.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 1px;
}

.logo span {
    color: transparent; 
    background: linear-gradient(45deg, #f9b016, #d4006d, #5c2188); 
    background-clip: text; 
    -webkit-background-clip: text; 
    display: inline-block;
}

.nav-links {
    display: flex;
    list-style-type: none;
    gap: 30px;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    font-size: 10px;
    font-weight: 400;
}

.nav-button .subscribe-btn {
    background: linear-gradient(45deg, #f9b016, #d4006d, #5c2188); 
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 25px;
    font-size: 10px;
    cursor: pointer;
    font-weight: 200;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    transition: background 0.3s ease;
}

.nav-button .subscribe-btn:hover {
    background: linear-gradient(45deg,#f9b016, #d4006d, #5c2188); 
    opacity: 0.9; 
 transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
}


.nav-button .subscribe-btn span {
    margin-left: 8px;
}
.hamburger-menu {
    display: none;
    cursor: pointer;
}

.hamburger-menu img {
    width: 15px;
    height: 15px;
}
@media screen and (max-width: 576px) {
    .nav-links {
        display: none; 
    }
    .hamburger-menu {
        display: block; 
    }
    .navbar-line {
            width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1); 
   
    }

    .logo-container {
        flex: 1; 
    }
    .logo {
        font-size: 20px; 
    }
    .nav-button .subscribe-btn {
        display: none; 
    }
}
@media screen and (min-width: 577px) {
    .hamburger-menu {
        display: none; 
    }
}
.banner {
    background-image: url('./assets/hero-bg.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: relative;
}
.banner-content {
    z-index: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.circle-image {
    position: relative;
    width: 180px;
    height: 180px;
    margin-bottom: -20px;
    animation: circleBeat 1.5s ease-in-out infinite; 
}

.hero-circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    z-index: 1;
}
.new-label {
    position: absolute;
    top: 10px; 
    left: 85%;
    transform: translateX(-50%);
    background-color: #00ff00; 
    color: rgba(6, 5, 5, 0.909);
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 10px;
}
.microphone-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px; 
    height: auto;
    z-index: 2;
}
h1 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 40px;
}
p {
    font-size: 10px;
    margin-bottom: 20px;
}
.cta-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.cta-btn {
    background: linear-gradient(45deg, #f9b016, #d4006d, #5c2188);
    color: white;
    border: none;
    padding: 5px 7px;
    font-size: 7px;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.cta-btn:hover {
    opacity: 0.8;
}
.cta-btn.message-btn {
    background: transparent; 
    color: rgb(35, 197, 68);
    border: rgb(35, 197, 68) 2px solid; 
    padding: 5px 7px; 
    font-size: 7px; 
    border-radius: 40px; 
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background 0.3s ease, transform 0.2s ease;
}
.cta-btn.message-btn:hover {
    background: linear-gradient(45deg, #ff6a00, #ff9d00); 
}
.cta-icon {
    margin-right: 10px;
    width: 12px;
    height: 12px;
}
@keyframes circleBeat {
    0% {
        transform: scale(0.55);
    }
    50% {
        transform: scale(1); 
    }
    100% {
        transform: scale(0.55); 
    }
}

@media screen and (max-width: 576px) {
    .banner {
        background-image: url('./assets/hero-bg-mobile.png'); 
        padding: 50px 0;
    }

    .hero-circle {
        width: 150px;
        height: 150px; 
    }

    .microphone-img {
        width: 50px; 
        position: absolute;
        top: 50%;
        left: 50%;
    }

    h1 {
        font-size: 25px; 
    }

    p {
        font-size: 10px; 
    }

    .cta-buttons {
        flex-direction: row;
        gap: 15px; 


    }
    .cta-btn {
        padding: 7px 15px;
        font-size: 12px;
    }

}
